<h1>{{msg}}</h1>
<p>ID #1</p>
<input type="text" #first_id value="76561198102993709">
<p>ID #2</p>
<input type="text" #second_id value="76561197960435530">
<div>
	<button (click)="compare(first_id.value, second_id.value)">Comparer</button>
</div>
<div *ngIf="datas_error">Une erreur est survenue!</div>

<p>Player 1</p>
<p *ngFor="#player of player1">{{player.personaname}}</p>
<p>Friends : {{player1FriendsTotal}}</p>
<p>Games : {{player1GamesTotal}}</p>
<p *ngFor="#game of player1Games">{{game.name}}</p>

<p>Player 2</p>
<p *ngFor="#player of player2">{{player.personaname}}</p>
<p>Friends : {{player2FriendsTotal}}</p>
<p>Games : {{player2GamesTotal}}</p>
<p *ngFor="#game of player2Games">{{game.name}}</p>